body {
    width: 90%;
    background-color: #340266;
    position: relative;
}

/* Navbar Section */
.Fixed {
    position: fixed; /* Fix the position for scrolling */
    width: 100%;
}

.Navbar {
    display: flex;
    justify-content: space-between;
}

.navtab {
    display: flex;
    padding: 10px;
    gap: 50px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

/* Home Section */
.Home {
    margin-top: 15%;
    position: absolute;
    left: 30%;
}

.name {
    color: rgb(76, 73, 241);
}

.fullname {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0;
}

.lightblue {
    color: lightblue;
    margin-bottom: 30px;
}

.lightcoral {
    color: lightcoral;
    padding-bottom:2px; /* Creating underline effect */
    background-image: linear-gradient(#eb6f6f 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.lightcoral:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.viewworkcontainer {
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
}

.viewwork {
    padding-left: 10px;
}

.gg-arrow-right {
    float: right;
    padding: 10px;
    color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
}

.viewworkcontainer:hover .gg-arrow-right { /* Hover over to turn arrow downwards */
    transform: rotateZ(-270deg);
}

.viewworkcontainer:hover {
    color: aquamarine;
}

/* About Section */
.About {
    margin-top: 50%;
    font-size: 30px;
    display: flex;
    margin-left: 160px;
    margin-bottom: 20px;
    max-width: 75px;
    padding-bottom:2px; /* Creating underline effect */
    background-image: linear-gradient(#eb6f6f 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.3s;

}

.About:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}


.aboutleft {
    float: left;
    max-width: 300px;
    margin-top: 0;
    margin-right: 20px;
}

.aboutright {
    max-width: 800px;
    margin-top: 5px;
}

/* Skills Section */
.Skills {
    margin-top: 50%;
    font-size: 30px;

}

.skillsent {
    font-size: 20px;
}

.skillset {
    display: grid;
}

.row {
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.images {
    padding: 20px;
}